<div class="12/12 text-right" >
  <button routerLink="/usuarios" type="button" class="py-3 my-2 button-back px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-primary-color text-white hover:bg-primary-color-90 disabled:opacity-50 disabled:pointer-events-none">
    <i class="fa-solid fa-arrow-left-long"></i>
  </button>
</div>
<div class="w-12/12">
  <h3 class="my-2">Información completa</h3>
</div>
<div class="w-12/12 my-2 flex flex-wrap mx-4">
  <div class="flex flex-col bg-white border shadow-sm rounded-xl lg:w-3/12 sm:w-12/12 md:w-12/12  w-full my-2 mx-auto">
    <div class="bg-gray-100 border-b rounded-t-xl py-3 px-4 md:py-4 md:px-5">
      <p class="mt-1 text-sm text-gray-500">
        Área asignada
      </p>
    </div>
    <div class="p-4 md:p-5">
      <h3 class="text-lg font-bold text-gray-800">
        Contabilidad
      </h3>
    </div>
  </div>

  <div class="flex flex-col bg-white border shadow-sm rounded-xl lg:w-3/12 sm:w-12/12 md:w-12/12  w-full my-2 mx-auto ">
    <div class="bg-gray-100 border-b rounded-t-xl py-3 px-4 md:py-4 md:px-5">
      <p class="mt-1 text-sm text-gray-500">
        Fecha de creación
      </p>
    </div>
    <div class="p-4 md:p-5">
      <h3 class="text-lg font-bold text-gray-800">
        Enero 15, 2023
      </h3>
    </div>
  </div>

  <div class="flex flex-col bg-white border shadow-sm rounded-xl lg:w-3/12 sm:w-12/12 md:w-12/12  w-full my-2 mx-auto ">
    <div class="bg-gray-100 border-b rounded-t-xl py-3 px-4 md:py-4 md:px-5">
      <p class="mt-1 text-sm text-gray-500">
        Última actualización
      </p>
    </div>
    <div class="p-4 md:p-5">
      <h3 class="text-lg font-bold text-gray-800">
        Mayo 28, 2024
      </h3>
    </div>
  </div>
</div>


<div class="w-12/12">
  <h3 class="text-2xl">Información personal</h3>
</div>
<div class="flex flex-col">
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="border overflow-hidden">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-table-header-color">
            <tr>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-white uppercase">Nombres</th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-white uppercase">Primero apellido</th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-white uppercase">Segundo apellido</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">Alexis Guadalupe</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">Rivera</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">Cabrera</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="w-12/12">
  <h3 class="my-2">Información de contacto</h3>
</div>
<div class="flex flex-col">
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="border overflow-hidden">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-table-header-color">
            <tr>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-white uppercase">Correo</th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-white uppercase">Teléfono</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">al05-053-0321&#64;utdelacosta.edu.mx</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">3231299812</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
