<div class="relative bg-image bg-center m-0">
  <div class="absolute inset-0 bg-black/50">
    <div class="flex justify-center items-center h-full">
      <div class="container text-white">
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white">
          <h1 class="uppercase text-white text-center font-bold text-4xl">
            PORTAL DE TRANSPARENCIA
          </h1>
          <h3 class="uppercase text-white text-center" >
            UNIVERSIDAD TECNOLÓGICA DE LA COSTA
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
