<app-form *ngIf="sharedService.loading$ | async; else content"></app-form>
<ng-template  #content>
<div class="12/12 text-right my-5">
  <ol class="flex items-center whitespace-nowrap">
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-gray-500 hover:text-color-active focus:outline-none focus:text-color-active" routerLink="/puntos">
        Puntos
        <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m9 18 6-6-6-6"></path>
        </svg>
      </a>
    </li>
    <li class="inline-flex items-center text-sm font-semibold text-gray-800 truncate" aria-current="page">
      Administrar orden puntos
    </li>
  </ol>
</div>
<div class="w-12/12 my-4">
  <h3 class="text-2xl">Ordenar puntos</h3>
</div>
<div cdkDropList (cdkDropListDropped)="drop($event)">
  <div *ngFor="let punto of ListActivePuntos" cdkDrag class="border rounded-xl shadow-sm p-6 my-2 hover:border-secondary-color hover:border-secondary-color hover:ring-secondary-color">
    Orden: {{punto.orden_punto}}.- {{punto.nombre_punto}}
  </div>
</div>

<div class="sm:col-span-2 flex justify-end my-3">
  <button type="submit" [disabled]="mostrarSpinner" (click)="actualizarOrdenPuntos()"
    class="items-center inline-flex justify-center py-2 px-6 border border-transparent shadow-sm text-sm font-medium rounded-md button-update">
    <i class="fas fa-save mx-1"></i>
  </button>
</div>
</ng-template>
<app-loading-spinner
  [fillPercentage]="porcentajeEnvio"
  [text]="'UTC'"
  [isVisible]="mostrarSpinner"
  [updateText]="mensaje">
</app-loading-spinner>
