<div class="12/12 text-right">
    <button routerLink="/usuarios" type="button"
      class="py-3 my-2  px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-primary-color text-white hover:bg-primary-color-90 disabled:opacity-50 disabled:pointer-events-none">
      <i class="fa-solid fa-arrow-left-long"></i>
      Volver
    </button>
</div>    
<div class="min-h-screen flex items-start justify-center p-8 bg-white">
    <div class="w-full max-w-3xl mt-13">
        <div class="bg-white rounded-lg shadow-xl p-8">
            <h4 class="text-xl text-gray-900 font-bold">Informacion de usuario</h4>
            <ul class="mt-2 text-gray-700">
                <li class="flex border-y py-2">
                    <span class="font-bold w-48 mr-6">Nombre:</span>
                    <span class="text-gray-700">Amanda S. Ross</span>
                </li>
                <li class="flex border-b py-2">
                    <span class="font-bold w-48 mr-6">Fecha de registro:</span>
                    <span class="text-gray-700">03 de mayo de 2024</span>
                </li>
                <li class="flex border-b py-2">
                    <span class="font-bold w-48 mr-6">Telefono:</span>
                    <span class="text-gray-700">323-153-1211</span>
                </li>
                <li class="flex border-y py-2">
                    <span class="font-bold w-48 mr-6">Correo Electrónico:</span>
                    <span class="text-gray-700">amandarossxample.com</span>
                </li>
                <li class="flex border-b py-2">
                    <span class="font-bold w-48 mr-6">Localizacíon:</span>
                    <span class="text-gray-700">New York, US</span>
                </li>
                <li class="flex border-b py-2">
                    <span class="font-bold w-48 mr-6">Area:</span>
                    <span class="text-gray-700">Area que pertenece</span>
                </li>
            </ul>
        </div>
    </div>
</div>
