<ng-template  #content>
<div class="12/12 text-right my-5">
  <ol class="flex items-center whitespace-nowrap">
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-gray-500 hover:text-color-active focus:outline-none focus:text-color-active" routerLink="/areas">
        Areas
        <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m9 18 6-6-6-6"></path>
        </svg>
      </a>
    </li>
    <li class="inline-flex items-center text-sm font-semibold text-gray-800 truncate" aria-current="page">
      Área {{data_area?.resultado?.data?.data.nombre_area}}
    </li>  </ol>
</div>
<div class="w-12/12">
  <h3 class="text-2xl">Información general</h3>
</div>
<div class="w-12/12 my-2 flex flex-wrap mx-4">
  <div class="flex flex-col bg-white border shadow-sm rounded-xl lg:w-3/12 sm:w-12/12 md:w-12/12  w-full my-2 mx-auto">
    <div class="bg-gray-100 border-b rounded-t-xl py-3 px-4 md:py-4 md:px-5">
      <p class="mt-1 text-sm text-gray-500">
        Nombre del área
      </p>
    </div>
    <div class="p-4 md:p-5">
      <h3 class="text-lg font-bold text-gray-800">
        {{data_area?.resultado?.data?.data?.nombre_area}}
      </h3>
    </div>
  </div>

  <div class="flex flex-col bg-white border shadow-sm rounded-xl lg:w-3/12 sm:w-12/12 md:w-12/12  w-full my-2 mx-auto ">
    <div class="bg-gray-100 border-b rounded-t-xl py-3 px-4 md:py-4 md:px-5">
      <p class="mt-1 text-sm text-gray-500">
        Fecha de creación
      </p>
    </div>
    <div class="p-4 md:p-5">
      <h3 class="text-lg font-bold text-gray-800">
        {{FormatearDate(data_area?.resultado?.data?.data?.fecha_creacion)}}
      </h3>
    </div>
  </div>

  <div class="flex flex-col bg-white border shadow-sm rounded-xl lg:w-3/12 sm:w-12/12 md:w-12/12  w-full my-2 mx-auto ">
    <div class="bg-gray-100 border-b rounded-t-xl py-3 px-4 md:py-4 md:px-5">
      <p class="mt-1 text-sm text-gray-500">
        Última actualización
      </p>
    </div>
    <div class="p-4 md:p-5">
      <h3 class="text-lg font-bold text-gray-800">
        {{FormatearDate(data_area?.resultado?.data?.data?.fecha_actualizado)}}
      </h3>
    </div>
  </div>
</div>

<div class="w-12/12 my-4">
  <h3 class="text-2xl">Puntos a los que tiene acceso</h3>
</div>
<div class="rounded-sm border border-stroke bg-white px-5 pb-2.5 pt-6 shadow-default   sm:px-7.5 xl:pb-1 overflow-x-auto">
  <div class="max-w-full ">
<div class="flex flex-col mb-5" *ngIf="listPuntosAcceso.length > 0">
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="border rounded-lg overflow-hidden my-2">
        <p-table

          [value]="listPuntosAcceso"
          [paginator]="true"
          [rows]="5"
          currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros"
          [showCurrentPageReport]="true"
          [globalFilterFields]="['nombre_punto', 'activo']"
          [tableStyleClass]="'min-w-full divide-y'"
          [resizableColumns]="true"
        >
          <ng-template pTemplate="header">
            <tr
              class="divide-x divide-gray-200 bg-table-header-color rounded-lg"
            >
              <th
                scope="col"
                class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
                pSortableColumn="nombre_punto"
              >
                <div class="flex">
                  Nombre punto <p-sortIcon field="nombre_punto"></p-sortIcon>
                </div>
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
                pSortableColumn="activo"
              >
                <div class="flex text-white">
                  Acesso
                  <p-sortIcon field="activo"></p-sortIcon>
                </div>
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
              >
                <div class="flex">Acciones</div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-punto>
            <tr class="divide-x divide-gray-200">
              <td class="px-3 py-2 text-sm text-gray-800">
                  {{ punto.nombre_punto }}
              </td>
              <td class="px-3 py-2 text-sm text-gray-800">
                <ng-container *ngIf="punto.activo; else inactivoBlock">
                  <p class="inline-flex rounded-full bg-green-500 bg-opacity-10 px-3 py-1 text-sm font-medium text-green-500">
                    Activo
                  </p>
                </ng-container>
                <ng-template #inactivoBlock>
                  <p class="inline-flex rounded-full bg-red-500 bg-opacity-10 px-3 py-1 text-sm font-medium text-red-500">
                    Inactivo
                  </p>
                </ng-template>
              </td>
              <td class="px-3 py-2 text-sm text-gray-800">
                <button
                      (mouseenter)="mostrar($event.target)" (mouseleave)="mostrar($event.target)"
                      class="hover:text-primary" *ngIf="punto.activo" (click)="DeletePuntoAcceso(punto.id_punto)">

                        <!-- User -->
                        <div class="hs-tooltip [--trigger:hover] sm:[--placement:top] inline-block">
                          <div
                            class="hs-tooltip-toggle max-w-xs p-3 flex items-center gap-x-3 bg-white border border-gray-200 rounded-xl shadow-sm">

                            <i class="fa fa-trash" aria-hidden="true"></i>
                            <!-- Popover Content -->
                            <div
                              class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible hidden opacity-0 transition-opacity absolute invisible z-10 max-w-xs w-full bg-white border border-gray-100 text-start rounded-xl shadow-md after:absolute after:top-0 after:-start-4 after:w-4 after:h-full"
                              role="tooltip">
                              <!-- Header -->
                              <div class="py-3 px-4 border-b border-gray-200">
                                <div class="flex items-center gap-x-3">
                                  <div class="grow">
                                    <h4 class="font-semibold text-gray-800">
                                      Eliminar
                                    </h4>
                                  </div>
                                </div>
                              </div>
                              <ul class="py-3 px-4 space-y-1">
                                <li>
                                  <div class="inline-flex items-center gap-x-3 text-sm text-gray-800">
                                    Eliminar el acceso a este punto.
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!-- End Popover Content -->
                          </div>
                        </div>
                      </button>
                      <button class="hover:text-primary"
                        (mouseenter)="mostrar($event.target)" (mouseleave)="mostrar($event.target)"
                      *ngIf="!punto.activo" (click)="InsertOrActivatePuntoAcceso(punto.id_punto)">

                        <!-- User -->
                        <div class="hs-tooltip [--trigger:hover] sm:[--placement:top] inline-block">
                          <div
                            class="hs-tooltip-toggle max-w-xs p-3 flex items-center gap-x-3 bg-white border border-gray-200 rounded-xl shadow-sm">

                            <i class="fa-solid fa-arrow-rotate-left"></i>
                            <!-- Popover Content -->
                            <div
                              class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible hidden opacity-0 transition-opacity absolute invisible z-10 max-w-xs w-full bg-white border border-gray-100 text-start rounded-xl shadow-md after:absolute after:top-0 after:-start-4 after:w-4 after:h-full"
                              role="tooltip">
                              <!-- Header -->
                              <div class="py-3 px-4 border-b border-gray-200">
                                <div class="flex items-center gap-x-3">
                                  <div class="grow">
                                    <h4 class="font-semibold text-gray-800">
                                      Reactivar
                                    </h4>
                                  </div>
                                </div>
                              </div>
                              <ul class="py-3 px-4 space-y-1">
                                <li>
                                  <div class="inline-flex items-center gap-x-3 text-sm text-gray-800">
                                    Reactivar el acceso a este punto.
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <!-- End Popover Content -->
                          </div>
                        </div>
                      </button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4">No se encontraron resultados.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
    <div class="min-h-60 flex flex-col bg-white rounded-xl" *ngIf="listPuntosAcceso.length === 0">
      <div class="flex flex-auto flex-col justify-center items-center p-4 md:p-5">
        <svg class="size-10 text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
          stroke-linejoin="round">
          <line x1="22" x2="2" y1="12" y2="12"></line>
          <path
            d="M5.45 5.11 2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z">
          </path>
          <line x1="6" x2="6.01" y1="16" y2="16"></line>
          <line x1="10" x2="10.01" y1="16" y2="16"></line>
        </svg>
        <p class="mt-2 text-sm text-gray-800">
          No hay información disponible.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="w-12/12 my-4">
  <h3 class="text-2xl">Usuarios con acceso al área</h3>
</div>
<div class="rounded-sm border border-stroke bg-white px-5 pb-2.5 pt-6 shadow-default mb-4   sm:px-7.5 xl:pb-1">
  <div class="flex flex-col mb-5" *ngIf="listUsuariosAcceso.length > 0">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="border rounded-lg overflow-hidden my-2">
          <p-table
            [value]="listUsuariosAcceso"
            [paginator]="true"
            [rows]="5"
            currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros"
            [showCurrentPageReport]="true"
            [globalFilterFields]="['nombreCompleto', 'correo','activo']"
            [tableStyleClass]="'min-w-full divide-y'"
            [resizableColumns]="true"
          >
            <ng-template pTemplate="header">
              <tr
                class="divide-x divide-gray-200 bg-table-header-color rounded-lg"
              >
                <th
                  scope="col"
                  class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
                  pSortableColumn="nombreCompleto"
                >
                  <div class="flex">
                    Nombre del usuario <p-sortIcon field="nombreCompleto"></p-sortIcon>
                  </div>
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
                  pSortableColumn="correo"
                >
                  <div class="flex text-white">
                    Correo
                    <p-sortIcon field="correo"></p-sortIcon>
                  </div>
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-start text-xs text-white uppercase bg-table-header-color"
                  pSortableColumn="activo"
                >
                  <div class="flex text-white">
                    Acesso
                    <p-sortIcon field="activo"></p-sortIcon>
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usuario>
              <tr class="divide-x divide-gray-200">
                <td class="px-3 py-2 text-sm text-gray-800">
                    {{ usuario.nombreCompleto }}
                </td>
                <td class="px-3 py-2 text-sm text-gray-800">
                  {{usuario.correo}}
                </td>
                <td class="px-3 py-2 text-sm text-gray-800">
                  <ng-container *ngIf="usuario.activo; else inactivoBlock">
                    <p class="inline-flex rounded-full bg-green-500 bg-opacity-10 px-3 py-1 text-sm font-medium text-green-500">
                      Activo
                    </p>
                  </ng-container>
                  <ng-template #inactivoBlock>
                    <p class="inline-flex rounded-full bg-red-500 bg-opacity-10 px-3 py-1 text-sm font-medium text-red-500">
                      Inactivo
                    </p>
                  </ng-template>
                </td>

              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="4">No se encontraron resultados.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>

  <div class="min-h-60 flex flex-col bg-white rounded-xl" *ngIf="listUsuariosAcceso.length === 0">
    <div class="flex flex-auto flex-col justify-center items-center p-4 md:p-5">
      <svg class="size-10 text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
        stroke-linejoin="round">
        <line x1="22" x2="2" y1="12" y2="12"></line>
        <path
          d="M5.45 5.11 2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z">
        </path>
        <line x1="6" x2="6.01" y1="16" y2="16"></line>
        <line x1="10" x2="10.01" y1="16" y2="16"></line>
      </svg>
      <p class="mt-2 text-sm text-gray-800">
        No hay información disponible.
      </p>
    </div>
  </div>
</div>
</ng-template>

<ng-container *ngIf="sharedService.loading$ | async; else content">
  <div class="container-per">
    <div class="12/12 text-right my-5 pointer-events-none mb-3">
      <ol class="flex items-center whitespace-nowrap animate-pulse">
        <li class="inline-flex items-center">
          <a class="flex items-center  text-sm text-gray-500 hover:text-color-active focus:outline-none focus:text-color-active" routerLink="/areas">
            <div class="h-2.5 bg-gray-200 rounded-full w-28 animate-pulse"></div>
            <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m9 18 6-6-6-6"></path>
            </svg>
          </a>
        </li>
        <li class="inline-flex items-center text-sm font-semibold text-gray-800 truncate" aria-current="page">
          <div class="h-2.5 bg-gray-200 rounded-full w-28 animate-pulse"></div>
        </li>  </ol>
    </div>

    <div class="w-12/12">
      <div class="h-4 bg-gray-200 rounded-full w-80 animate-pulse"></div>
    </div>
    <div class="w-12/12 my-2 flex flex-wrap mx-4">
      <div class="flex flex-col bg-white border shadow-sm rounded-xl lg:w-3/12 sm:w-12/12 md:w-12/12  w-full my-2 mx-auto">
        <div class="bg-gray-100 border-b rounded-t-xl py-3 px-4 md:py-4 md:px-5">
          <div class="h-2.5 bg-gray-200 rounded-full w-28 animate-pulse"></div>
        </div>
        <div class="p-4 md:p-5 h-20">
          <div class="h-3 bg-gray-200 rounded-full w-48 animate-pulse"></div>
        </div>
      </div>

      <div class="flex flex-col bg-white border shadow-sm rounded-xl lg:w-3/12 sm:w-12/12 md:w-12/12  w-full my-2 mx-auto ">
        <div class="bg-gray-100 border-b rounded-t-xl py-3 px-4 md:py-4 md:px-5">
            <div class="h-2.5 bg-gray-200 rounded-full w-28 animate-pulse"></div>
        </div>
        <div class="p-4 md:p-5 h-20">
          <div class="h-3 bg-gray-200 rounded-full w-48 animate-pulse"></div>
        </div>
      </div>

      <div class="flex flex-col bg-white border shadow-sm rounded-xl lg:w-3/12 sm:w-12/12 md:w-12/12  w-full my-2 mx-auto ">
        <div class="bg-gray-100 border-b rounded-t-xl py-3 px-4 md:py-4 md:px-5">
            <div class="h-2.5 bg-gray-200 rounded-full w-28 animate-pulse"></div>
        </div>
        <div class="p-4 md:p-5 h-20">
          <div class="h-3 bg-gray-200 rounded-full w-48 animate-pulse"></div>
        </div>
      </div>
    </div>

    <div class="w-12/12">
      <div class="h-4 bg-gray-200 rounded-full w-80 animate-pulse"></div>
    </div>

    <div class="flex flex-col mb-5">
      <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
          <div class="border rounded-lg overflow-hidden my-2">
            <table class="min-w-full divide-y table-bordered">
              <thead class="bg-table-header-color ">
                <tr class="divide-x divide-gray-200 animate-pulse">
                  <th scope="col" class="px-6 py-3 text-start text-xs text-white uppercase">
                    <p class="h-2.5 bg-gray-200 rounded-full  w-48"></p>
                  </th>
                  <th scope="col" class="px-6 py-3 text-start text-xs text-white uppercase">
                    <p class="h-2.5 bg-gray-200 rounded-full  w-48"></p>
                  </th>
                  <th scope="col" class="px-6 py-3 text-start text-xs text-white uppercase">
                    <p class="h-2.5 bg-gray-200 rounded-full  w-48"></p>
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 animate-pulse" >
                <tr class="divide-x divide-gray-200">
                  <td class="px-3 py-2 whitespace-nowrap text-sm font-medium text-gray-800 items-center">
                    <p class="h-2.5 bg-gray-200 rounded-full  w-48"></p>
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                    <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                    <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
                  </td>
                </tr>
                <tr class="divide-x divide-gray-200">
                  <td class="px-3 py-2 whitespace-nowrap text-sm font-medium text-gray-800 items-center">
                    <p class="h-2.5 bg-gray-200 rounded-full  w-48"></p>
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                    <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                    <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
                  </td>
                </tr>
                <tr class="divide-x divide-gray-200">
                  <td class="px-3 py-2 whitespace-nowrap text-sm font-medium text-gray-800 items-center">
                    <p class="h-2.5 bg-gray-200 rounded-full  w-48"></p>
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                    <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                    <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
                  </td>
                </tr>
                <tr class="divide-x divide-gray-200">
                  <td class="px-3 py-2 whitespace-nowrap text-sm font-medium text-gray-800 items-center">
                    <p class="h-2.5 bg-gray-200 rounded-full  w-48"></p>
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                    <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                    <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="w-12/12">
      <div class="h-4 bg-gray-200 rounded-full w-80 animate-pulse"></div>
    </div>

    <div class="flex flex-col mb-5">
      <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
          <div class="border rounded-lg overflow-hidden my-2">
            <table class="min-w-full divide-y table-bordered">
              <thead class="bg-table-header-color ">
                <tr class="divide-x divide-gray-200 animate-pulse">
                  <th scope="col" class="px-6 py-3 text-start text-xs text-white uppercase">
                    <p class="h-2.5 bg-gray-200 rounded-full  w-48"></p>
                  </th>
                  <th scope="col" class="px-6 py-3 text-start text-xs text-white uppercase">
                    <p class="h-2.5 bg-gray-200 rounded-full  w-48"></p>
                  </th>
                  <th scope="col" class="px-6 py-3 text-start text-xs text-white uppercase">
                    <p class="h-2.5 bg-gray-200 rounded-full  w-48"></p>
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 animate-pulse" >
                <tr class="divide-x divide-gray-200">
                  <td class="px-3 py-2 whitespace-nowrap text-sm font-medium text-gray-800 items-center">
                    <p class="h-2.5 bg-gray-200 rounded-full  w-48"></p>
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                    <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                    <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
                  </td>
                </tr>
                <tr class="divide-x divide-gray-200">
                  <td class="px-3 py-2 whitespace-nowrap text-sm font-medium text-gray-800 items-center">
                    <p class="h-2.5 bg-gray-200 rounded-full  w-48"></p>
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                    <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                    <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
                  </td>
                </tr>
                <tr class="divide-x divide-gray-200">
                  <td class="px-3 py-2 whitespace-nowrap text-sm font-medium text-gray-800 items-center">
                    <p class="h-2.5 bg-gray-200 rounded-full  w-48"></p>
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                    <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                    <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
                  </td>
                </tr>
                <tr class="divide-x divide-gray-200">
                  <td class="px-3 py-2 whitespace-nowrap text-sm font-medium text-gray-800 items-center">
                    <p class="h-2.5 bg-gray-200 rounded-full  w-48"></p>
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                    <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                    <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

