<div class="12/12 my-5 text-right">
  <ol class="flex items-center whitespace-nowrap">
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-gray-500 hover:text-color-active focus:outline-none focus:text-color-active" routerLink="/trimestres">
        Trimestres
        <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m9 18 6-6-6-6"></path>
        </svg>
      </a>
    </li>
    <li class="inline-flex items-center text-sm font-semibold text-gray-800 truncate" aria-current="page">
      Nuevo trimestre
    </li>
  </ol>
</div>
<div class="bg-white p-8 border border-gray-200 rounded-lg shadow-lg max-w-2xl mx-auto my-10">
  <h3 class="my-2 text-left">Nuevo trimestre</h3>
  <hr class="w-full mb-2 border-hr-color">
  <form class="grid grid-cols-1 gap-y-6 gap-x-4">
    <!-- Input para el nombre interno del documento -->
    <div class="sm:col-span-2">
      <label for="nombreTrimestre" class="font-poppins">Nombre del trimestre</label>
      <div
      class="flex items-center border border-input-bord-color py-3 px-4 rounded-lg focus-within:border-input-focus-color focus-within:ring-input-focus-color">
        <input type="text" id="nombreTrimestre"
          class=" flex-grow border-none focus:ring-0 focus:outline-none text-sm text-dark"
          placeholder="Nombre del trimestre">
        <div class="hs-tooltip [--trigger:hover] sm:[--placement:right] inline-block ml-2">
          <!-- lo del simbolo de interrogacion -->
          <i class="fa-solid fa-question text-gray-500"></i>
          <div
            class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible hidden opacity-0 transition-opacity absolute invisible z-10 max-w-xs w-full bg-white border border-gray-100 text-start rounded-xl shadow-md after:absolute after:top-0 after:-start-4 after:w-4 after:h-full"
            role="tooltip">
            <ul class="py-3 px-4 space-y-1">
              <li>
                <div class="inline-flex items-center gap-x-3 text-sm text-gray-800">
                  <p>Este campo te permite ingresar el nombre del trimestre que será visible para acceder a él.
                     Por ejemplo, podrías ingresar un nombre como <strong>ENERO-MARZO</strong> para indicar el intervalo de meses incluido en ese trimestre.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Select para seleccionar el ejercicio -->
    <div class="sm:col-span-2">
      <label for="ejercicio" class="items-center">
        Ejercicio
        <div class="hs-tooltip [--trigger:hover] sm:[--placement:right] inline-block ml-2">
          <i class="fa-solid fa-question text-gray-500"></i>
          <div
            class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible hidden opacity-0 transition-opacity absolute invisible z-10 max-w-xs w-full bg-white border border-gray-100 text-start rounded-xl shadow-md after:absolute after:top-0 after:-start-4 after:w-4 after:h-full"
            role="tooltip">
            <ul class="py-3 px-4 space-y-1">
              <li>
                <div class="inline-flex items-center gap-x-3 text-sm text-gray-800">
                  <p>Seleccione el año del ejercicio correspondiente.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </label>
      <select
      class="sm:p-5 p-4 pe-9 block w-full border-input-bord-color rounded-lg text-sm focus:border-input-focus-color focus:ring-input-focus-color disabled:opacity-50 disabled:pointer-events-none ">
        <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
      </select>
    </div>
    <!-- Botón de enviar -->
    <div class="sm:col-span-2 flex justify-end">
      <button type="submit"
        class="items-center button-save inline-flex justify-center py-2 px-6 border border-transparent shadow-sm text-sm font-medium rounded-md  ">
        <i class="fas fa-save mx-1"></i>
      </button>
    </div>
  </form>
</div>
