
.text-elipsis >p{
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  text-wrap: nowrap !important;
}

.hs-tooltip{
  cursor: pointer !important;
  text-wrap: wrap !important;
}

.text-wrap{
  text-wrap: wrap !important;
  word-wrap: break-word; /* Permite que las palabras se rompan automáticamente */
  max-width: auto; /* Establece el ancho máximo automáticamente */
  flex-wrap: wrap; /* Permite que el contenido se ajuste al contenedor */
}
