<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10" *ngIf="sharedService.loading$ | async; else content">
  <!-- Esqueleto de carga -->
  <div class="mx-auto max-w-242.5">
    <!-- ====== Profile Section Start -->
    <div class="overflow-hidden rounded-sm border border-stroke bg-white shadow-default ">
      <div class="relative z-20 h-35 md:h-65">
        <div class="h-36 bg-gray-200 w-full animate-pulse"></div>

      </div>
      <div class="px-4 pb-6 text-center lg:pb-8 xl:pb-11.5">
        <div class="mt-4">
          <div class="mb-1.5 h-4 bg-gray-200 rounded-full w-72 mx-auto animate-pulse"></div>
          <div class="mx-auto mb-5.5 mt-4.5 grid max-w-94 sm:grid-cols-1 md:grid-cols-3 rounded-md border border-stroke py-2.5 shadow-1">
            <div class="flex flex-col items-center justify-center gap-1 border-r border-stroke px-4 xsm:flex-row">
              <span class="font-semibold text-black"><div class="h-4 bg-gray-200 rounded-full w-24 animate-pulse"></div></span>
              <div class="h-3 bg-gray-200 rounded-full w-24 animate-pulse"></div>
            </div>
            <div class="flex flex-col items-center justify-center gap-1 border-r border-stroke px-4 xsm:flex-row">
              <span class="font-semibold text-black"><div class="h-4 bg-gray-200 rounded-full w-24 animate-pulse"></div></span>
              <div class="h-3 bg-gray-200 rounded-full w-24 animate-pulse"></div>
            </div>
            <div class="flex flex-col items-center justify-center gap-1 px-4 xsm:flex-row">
              <span class="font-semibold text-black"><div class="h-4 bg-gray-200 rounded-full w-24 animate-pulse"></div></span>
              <div class="h-3 bg-gray-200 rounded-full w-24 animate-pulse"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ====== Profile Section End -->
  </div>
</div>

<ng-template #content>
  <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <div class="mx-auto max-w-242.5">
      <!-- ====== Profile Section Start -->
      <div class="overflow-hidden rounded-sm border border-stroke bg-white shadow-default ">
        <div class="relative z-20 h-35 md:h-65">
          <img src="assets/img/banner.jpg" alt="profile cover" class="h-full w-full rounded-tl-sm rounded-tr-sm object-cover object-center">
          <div class="absolute bottom-1 right-1 z-10 xsm:bottom-4 xsm:right-4 bg-primary-color rounded-sm" routerLink="/edit-perfil">
            <label for="cover" class="flex cursor-pointer items-center justify-center gap-2 rounded bg-primary px-2 py-1 text-sm font-medium text-white hover:bg-opacity-80 xsm:px-4">
              <input type="file" name="cover" id="cover" class="sr-only">
              <span>
                <i class="fas fa-edit"></i>
              </span>
              <span>Editar</span>
            </label>
          </div>
        </div>
        <div class="px-4 pb-6 text-center lg:pb-8 xl:pb-11.5">

          <div class="mt-4">
            <h3 class="mb-1.5 text-2xl font-medium text-black">
              {{ data_user?.nombreCompleto}}
            </h3>
            <div class="mx-auto mb-5.5 mt-4.5 grid max-w-94 sm:grid-cols-1 md:grid-cols-3 rounded-md border border-stroke py-2.5 shadow-1  ">
              <div class="flex flex-col items-center justify-center gap-1 border-r border-stroke px-4  xsm:flex-row">
                <span class="font-semibold text-black">Área</span>
                <span class="text-sm">{{ decryptedData?.nombre_area}}</span>
              </div>
              <div class="flex flex-col items-center justify-center gap-1 border-r border-stroke px-4  xsm:flex-row">
                <span class="font-semibold text-black">Correo</span>
                <span class="text-sm text-elipsis">{{ data_user?.correo}}</span>
              </div>
              <div class="flex flex-col items-center justify-center gap-1 px-4 xsm:flex-row">
                <span class="font-semibold text-black">Teléfono</span>
                <span class="text-sm">{{ decryptedData?.telefono }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ====== Profile Section End -->
    </div>
  </div>
</ng-template>


