<h2 class="h-6 bg-gray-200 rounded-full  max-w-[360px] mb-2.5 animate-pulse mt-6"></h2>
<hr  class="border-primary-color border-1 mb-8 animate-pulse" />
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-y-3 gap-x-3 justify-items-center animate-pulse">
  <div class="hs-tooltip [--trigger:click] inline-block relative m-5" >
    <div class="hs-tooltip-toggle block text-center">
      <button type="button"
        class="flex justify-center items-center size-10 text-sm font-semibold rounded-lg bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
        <div class="hs-tooltip-toggle block text-center">
          <i class="fa-solid fa-file-pdf text-3xl"></i>
          <div class="grow">
            <h6 class="text-sm text-white-800 whitespace-pre-line overflow-hidden">
              <p class="h-2 bg-gray-200 rounded-full   mb-2.5 w-22"></p>
            </h6>
          </div>
        </div>
      </button>
    </div>
  </div>
  <div class="hs-tooltip [--trigger:click] inline-block relative m-5" >
    <div class="hs-tooltip-toggle block text-center">
      <button type="button"
        class="flex justify-center items-center size-10 text-sm font-semibold rounded-lg bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
        <div class="hs-tooltip-toggle block text-center">
          <i class="fa-solid fa-file-pdf text-3xl"></i>
          <div class="grow">
            <h6 class="text-sm text-white-800 whitespace-pre-line overflow-hidden">
              <p class="h-2 bg-gray-200 rounded-full   mb-2.5 w-22"></p>
            </h6>
          </div>
        </div>
      </button>
    </div>
  </div>
  <div class="hs-tooltip [--trigger:click] inline-block relative m-5" >
    <div class="hs-tooltip-toggle block text-center">
      <button type="button"
        class="flex justify-center items-center size-10 text-sm font-semibold rounded-lg bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
        <div class="hs-tooltip-toggle block text-center">
          <i class="fa-solid fa-file-pdf text-3xl"></i>
          <div class="grow">
            <h6 class="text-sm text-white-800 whitespace-pre-line overflow-hidden">
              <p class="h-2 bg-gray-200 rounded-full   mb-2.5 w-22"></p>
            </h6>
          </div>
        </div>
      </button>
    </div>
  </div>
  <div class="hs-tooltip [--trigger:click] inline-block relative m-5" >
    <div class="hs-tooltip-toggle block text-center">
      <button type="button"
        class="flex justify-center items-center size-10 text-sm font-semibold rounded-lg bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
        <div class="hs-tooltip-toggle block text-center">
          <i class="fa-solid fa-file-pdf text-3xl"></i>
          <div class="grow">
            <h6 class="text-sm text-white-800 whitespace-pre-line overflow-hidden">
              <p class="h-2 bg-gray-200 rounded-full   mb-2.5 w-22"></p>
            </h6>
          </div>
        </div>
      </button>
    </div>
  </div>

</div>
<p class="h-4 bg-gray-200 rounded-full" style="width: 40%;"></p>

<ul class="mt-5 space-y-3 mb-4">
  <li class="w-full h-4 bg-gray-200 rounded-full"></li>
  <li class="w-full h-4 bg-gray-200 rounded-full"></li>
  <li class="w-full h-4 bg-gray-200 rounded-full"></li>
  <li class="w-full h-4 bg-gray-200 rounded-full"></li>
</ul>
<h2 class="h-6 bg-gray-200 rounded-full  max-w-[360px] mb-2.5 animate-pulse mt-6"></h2>
<hr  class="border-primary-color border-1 mb-8 animate-pulse" />
<div class="flex flex-col mb-5">
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="border rounded-lg overflow-hidden my-2">
        <table class="min-w-full divide-y table-bordered">
          <thead class="bg-table-header-color ">
            <tr class="divide-x divide-gray-200 animate-pulse">
              <th scope="col" class="px-6 py-3 text-start text-xs text-white uppercase">
                <p class="h-2.5 bg-gray-200 rounded-full  w-48"></p>
              </th>
              <th scope="col" class="px-6 py-3 text-start text-xs text-white uppercase">
                <p class="h-2.5 bg-gray-200 rounded-full  w-48"></p>
              </th>
              <th scope="col" class="px-6 py-3 text-start text-xs text-white uppercase">
                <p class="h-2.5 bg-gray-200 rounded-full  w-48"></p>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 animate-pulse" >
            <tr class="divide-x divide-gray-200">
              <td class="px-3 py-2 whitespace-nowrap text-sm font-medium text-gray-800 items-center">
                <p class="h-2.5 bg-gray-200 rounded-full  w-48"></p>
              </td>
              <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
              </td>
              <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
              </td>
            </tr>
            <tr class="divide-x divide-gray-200">
              <td class="px-3 py-2 whitespace-nowrap text-sm font-medium text-gray-800 items-center">
                <p class="h-2.5 bg-gray-200 rounded-full  w-48"></p>
              </td>
              <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
              </td>
              <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
              </td>
            </tr>
            <tr class="divide-x divide-gray-200">
              <td class="px-3 py-2 whitespace-nowrap text-sm font-medium text-gray-800 items-center">
                <p class="h-2.5 bg-gray-200 rounded-full  w-48"></p>
              </td>
              <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
              </td>
              <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
              </td>
            </tr>
            <tr class="divide-x divide-gray-200">
              <td class="px-3 py-2 whitespace-nowrap text-sm font-medium text-gray-800 items-center">
                <p class="h-2.5 bg-gray-200 rounded-full  w-48"></p>
              </td>
              <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
              </td>
              <td class="px-3 py-2 whitespace-nowrap text-sm text-gray-800">
                <p class="h-2 bg-gray-200 rounded-full  max-w-[360px] mb-2.5"></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<h2 class="h-6 bg-gray-200 rounded-full  max-w-[360px] mb-2.5 animate-pulse mt-6"></h2>
<hr  class="border-primary-color border-1 mb-8 animate-pulse" />
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-y-3 gap-x-3 justify-items-center animate-pulse">
  <div class="hs-tooltip [--trigger:click] inline-block relative m-5" >
    <div class="hs-tooltip-toggle block text-center">
      <button type="button"
        class="flex justify-center items-center size-10 text-sm font-semibold rounded-lg bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
        <div class="hs-tooltip-toggle block text-center">
          <i class="fa-solid fa-file-pdf text-3xl"></i>
          <div class="grow">
            <h6 class="text-sm text-white-800 whitespace-pre-line overflow-hidden">
              <p class="h-2 bg-gray-200 rounded-full   mb-2.5 w-22"></p>
            </h6>
          </div>
        </div>
      </button>
    </div>
  </div>
  <div class="hs-tooltip [--trigger:click] inline-block relative m-5" >
    <div class="hs-tooltip-toggle block text-center">
      <button type="button"
        class="flex justify-center items-center size-10 text-sm font-semibold rounded-lg bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
        <div class="hs-tooltip-toggle block text-center">
          <i class="fa-solid fa-file-pdf text-3xl"></i>
          <div class="grow">
            <h6 class="text-sm text-white-800 whitespace-pre-line overflow-hidden">
              <p class="h-2 bg-gray-200 rounded-full   mb-2.5 w-22"></p>
            </h6>
          </div>
        </div>
      </button>
    </div>
  </div>
  <div class="hs-tooltip [--trigger:click] inline-block relative m-5" >
    <div class="hs-tooltip-toggle block text-center">
      <button type="button"
        class="flex justify-center items-center size-10 text-sm font-semibold rounded-lg bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
        <div class="hs-tooltip-toggle block text-center">
          <i class="fa-solid fa-file-pdf text-3xl"></i>
          <div class="grow">
            <h6 class="text-sm text-white-800 whitespace-pre-line overflow-hidden">
              <p class="h-2 bg-gray-200 rounded-full   mb-2.5 w-22"></p>
            </h6>
          </div>
        </div>
      </button>
    </div>
  </div>
  <div class="hs-tooltip [--trigger:click] inline-block relative m-5" >
    <div class="hs-tooltip-toggle block text-center">
      <button type="button"
        class="flex justify-center items-center size-10 text-sm font-semibold rounded-lg bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
        <div class="hs-tooltip-toggle block text-center">
          <i class="fa-solid fa-file-pdf text-3xl"></i>
          <div class="grow">
            <h6 class="text-sm text-white-800 whitespace-pre-line overflow-hidden">
              <p class="h-2 bg-gray-200 rounded-full   mb-2.5 w-22"></p>
            </h6>
          </div>
        </div>
      </button>
    </div>
  </div>

</div>
<p class="h-4 bg-gray-200 rounded-full" style="width: 40%;"></p>

<ul class="mt-5 space-y-3 mb-4">
  <li class="w-full h-4 bg-gray-200 rounded-full"></li>
  <li class="w-full h-4 bg-gray-200 rounded-full"></li>
  <li class="w-full h-4 bg-gray-200 rounded-full"></li>
  <li class="w-full h-4 bg-gray-200 rounded-full"></li>
</ul>
