<!-- component -->
<!-- Page Container -->
<div class="flex items-center justify-center min-h-screen bg-white">
    <div class="flex flex-col">
        <div class="flex flex-col py-10">
            <!-- Meet the Team -->
            <div class="container max-w-7xl">
                <!-- Section Header -->
                <div class="flex flex-wrap justify-center text-center mb-24">
                    <div class="w-full lg:w-6/12">
                        <!-- Header -->
                        <h1 class="text-gray-900 text-4xl font-bold mb-8">
                            Acerca de nosotros
                        </h1>
                        <!-- Description -->
                        <p class="text-gray-700 text-lg font-light">
                            Somos un equipo de desarrolladores, diseñadores y creativos dedicados a ofrecer la mejor
                            experiencia para los usuarios. Nuestra misión es proporcionar soluciones innovadoras y de
                            alta calidad que respondan a las necesidades y expectativas de nuestros visitantes.
                        </p>
                    </div>
                </div>
                <!-- Team Members -->
                <div class="flex flex-wrap">
                    <!-- Member #1 -->
                    <div class="w-full md:w-4/12 lg:w-4/12 mb-6 px-6 sm:px-6 lg:px-4">
                        <div class="flex flex-col items-center">
                            <!-- Avatar -->
                            <img class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100 mx-auto w-96 h-96 object-cover"
                                src="assets/img/jodido.jpeg"
                                alt="Profile Picture">
                            <!-- Details -->
                            <div class="text-center mt-6">
                                <!-- Name -->
                                <h1 class="text-gray-900 text-xl font-bold mb-1">
                                    Front-end
                                </h1>
                                <!-- Title -->
                                <div class="text-gray-700 font-light mb-2">
                                    Marco Fabián Gómez Bautista
                                </div>
                                <!-- Social Icons -->
                                <div
                                    class="flex items-center justify-center opacity-50 hover:opacity-100 transition-opacity duration-300">
                                    <!-- Linkedin -->
                                    <a href="#" class="flex items-center justify-center rounded-full hover:bg-indigo-50 h-14 w-14 relative">
                                        <i class="fa-brands fa-linkedin text-indigo-500 text-3xl"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Member #2 -->
                    <div class="w-full md:w-4/12 lg:w-4/12 mb-6 px-6 sm:px-6 lg:px-4">
                        <div class="flex flex-col items-center">
                            <!-- Avatar -->
                            <img class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100 mx-auto w-96 h-96 object-cover"
                                src="assets/img/Dani.jpeg"
                                alt="Profile Picture">
                            <!-- Details -->
                            <div class="text-center mt-6">
                                <!-- Name -->
                                <h1 class="text-gray-900 text-xl font-bold mb-1">
                                    Back-end
                                </h1>
                                <!-- Title -->
                                <div class="text-gray-700 font-light mb-2">
                                    Daniel Contreras Zamarripa
                                </div>
                                <!-- Social Icons -->
                                <div
                                    class="flex items-center justify-center opacity-50 hover:opacity-100 transition-opacity duration-300">
                                    <!-- Linkedin -->
                                    <a href="#" class="flex items-center justify-center rounded-full hover:bg-indigo-50 h-14 w-14 relative">
                                        <i class="fa-brands fa-linkedin text-indigo-500 text-3xl"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Member #3-->
                    <div class="w-full md:w-4/12 lg:w-4/12 mb-6 px-6 sm:px-6 lg:px-4">
                        <div class="flex flex-col items-center">
                            <!-- Avatar -->
                            <img class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100 mx-auto w-96 h-96 object-cover"
                                src="assets/img/neto.jpeg"
                                alt="Profile Picture">
                            <!-- Details -->
                            <div class="text-center mt-6">
                                <!-- Name -->
                                <h1 class="text-gray-900 text-xl font-bold mb-1">
                                    Back-end
                                </h1>
                                <!-- Title -->
                                <div class="text-gray-700 font-light mb-2">
                                    Ernesto Ibarra Villanueva
                                </div>
                                <!-- Social Icons -->
                                <div
                                    class="flex items-center justify-center opacity-50 hover:opacity-100 transition-opacity duration-300">
                                    <!-- Linkedin -->
                                    <a href="#" class="flex items-center justify-center rounded-full hover:bg-indigo-50 h-14 w-14 relative">
                                        <i class="fa-brands fa-linkedin text-indigo-500 text-3xl"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Member #4 -->
                    <div class="w-full md:w-4/12 lg:w-4/12 mb-6 px-6 sm:px-6 lg:px-4">
                        <div class="flex flex-col items-center">
                            <!-- Avatar -->
                            <img class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100 mx-auto w-96 h-96 object-cover"
                                src="assets/img/jefe.jpeg"
                                alt="Profile Picture">
                            <!-- Details -->
                            <div class="text-center mt-6">
                                <!-- Name -->
                                <h1 class="text-gray-900 text-xl font-bold mb-1">
                                    Scrum Master
                                </h1>
                                <!-- Title -->
                                <div class="text-gray-700 font-light mb-2">
                                    Marco Antonio Nuñez Andrade
                                </div>
                                <!-- Social Icons -->
                                <div
                                    class="flex items-center justify-center opacity-50 hover:opacity-100 transition-opacity duration-300">
                                    <!-- Linkedin -->
                                    <a href="#" class="flex items-center justify-center rounded-full hover:bg-indigo-50 h-14 w-14 relative">
                                        <i class="fa-brands fa-linkedin text-indigo-500 text-3xl"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Member #5 -->
                    <div class="w-full md:w-4/12 lg:w-4/12 mb-6 px-6 sm:px-6 lg:px-4">
                        <div class="flex flex-col items-center">
                            <!-- Avatar -->
                            <img class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100 mx-auto w-96 h-96 object-cover"
                                src="assets/img/rivexis.jpeg"
                                alt="Profile Picture">
                            <!-- Details -->
                            <div class="text-center mt-6">
                                <!-- Name -->
                                <h1 class="text-gray-900 text-xl font-bold mb-1">
                                    Tester
                                </h1>
                                <!-- Title -->
                                <div class="text-gray-700 font-light mb-2">
                                    Alexis Guadalupe Rivera Cabrera
                                </div>
                                <!-- Social Icons -->
                                <div
                                    class="flex items-center justify-center opacity-50 hover:opacity-100 transition-opacity duration-300">
                                    <!-- Linkedin -->
                                    <a href="#" class="flex items-center justify-center rounded-full hover:bg-indigo-50 h-14 w-14 relative">
                                        <i class="fa-brands fa-linkedin text-indigo-500 text-3xl"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Member #6 -->
                    <div class="w-full md:w-4/12 lg:w-4/12 mb-6 px-6 sm:px-6 lg:px-4">
                        <div class="flex flex-col items-center">
                            <!-- Avatar -->
                            <img class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100 mx-auto w-96 h-96 object-cover"
                                src="assets/img/grillo.jpeg"
                                alt="Profile Picture">
                            <!-- Details -->
                            <div class="text-center mt-6">
                                <!-- Name -->
                                <h1 class="text-gray-900 text-xl font-bold mb-1">
                                    Front-end
                                </h1>
                                <!-- Title -->
                                <div class="text-gray-700 font-light mb-2">
                                    Branko Jaziel Lomeli Rios
                                </div>
                                <!-- Social Icons -->
                                <div
                                    class="flex items-center justify-center opacity-50 hover:opacity-100 transition-opacity duration-300">
                                    <!-- Linkedin -->
                                    <a href="#" class="flex items-center justify-center rounded-full hover:bg-indigo-50 h-14 w-14 relative">
                                        <i class="fa-brands fa-linkedin text-indigo-500 text-3xl"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
