/*
Este archivo CSS se utiliza para aplicar estilos globales y importar otros archivos de estilos.
También incluye declaraciones personalizadas de @font-face para las fuentes 'texto' y 'titulo'.
*/

/* Importa los estilos base de Tailwind CSS */
@tailwind base;

/* Importa los estilos de componentes de Tailwind CSS */
@tailwind components;

/* Importa los estilos utilitarios de Tailwind CSS */
@tailwind utilities;

/* Declaración personalizada de @font-face para la fuente 'texto' */
@font-face {
  font-family: "texto";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Declaración personalizada de @font-face para la fuente 'texto' */
@font-face {
  font-family: "texto-medium";
  src: url("/assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Declaración personalizada de @font-face para la fuente 'titulo' */
@font-face {
  font-family: "titulo";
  src: url("/assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Aplica la fuente 'titulo' a todos los elementos de encabezado (h1 a h6) */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "titulo", sans-serif !important;
}

/* Aplica la fuente 'texto' a todos los elementos excepto los encabezados (h1 a h6) */
*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  font-family: "texto", sans-serif;
}

/* Altura del html */
html {
  min-height: 100vh;
}

/*Body*/
body {
  min-height: 70vh;
}

/*Footer*/
footer {
  bottom: 0px;
  width: 100%;
}

.container-per {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 10px;
}

td > label .text-ellipsis {
  max-width: 500px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.hs-tooltip {
  cursor: help;
}

/* Requerimientos del equipo principal */
h1 {
  font-size: 2.25rem !important;
  line-height: 2.5rem !important;
}

h2 {
  font-size: 1.875rem !important;
  line-height: 2.25rem !important;
}

h3 {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

h4 {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}

h5 {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
}

h6 {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

.button-secondary,  .button-back  {
  background-color: #008779 !important;
  border-radius: 10px !important ;
  color: #fff !important;
  transition: ease 0.3s !important;
  padding: 10px !important;
  font-family: "texto-medium", sans-serif !important;
}

.button-secondary:hover, .button-back:hover  {
  background-color: #008779e6 !important;
  transition: ease 0.3s !important;
  font-family: "texto-medium", sans-serif !important;
}

.button-save,.button-update{
  background-color: #14b8a6 !important;
  border-radius: 10px !important ;
  color: #fff !important;
  transition: ease 0.3s !important;
  padding: 10px !important;
  font-family: "texto-medium", sans-serif !important;
}

.button-save:hover, .button-update:hover  {
  background-color: #0d9488 !important;
  transition: ease 0.3s !important;
  font-family: "texto-medium", sans-serif !important;
}

.button-save::after {
  content: "Guardar" !important; /* Texto añadido */
  position: sticky !important; /* Posición absoluta */
}

.button-update::after {
  content: "Actualizar" !important; /* Texto añadido */
  position: sticky !important; /* Posición absoluta */
}

.button-back::after {
  content: "Volver" !important; /* Texto añadido */
  position: sticky !important; /* Posición absoluta */
}

input[type="checkbox"] {
  border-color: #ededed !important;
  color: #14b8a6 !important;
}
input[type="checkbox"]:focus{
  --tw-ring-opacity: 1;
  --tw-ring-color: #0d9488;
}

.hs-tooltip-toggle > .fas.fa-edit{
  color: #3b82f6 !important; /* Blue 500 */
}

.hs-tooltip-toggle > .fas.fa-edit:hover{
  color: #2563eb !important; /* Blue 600 */
}


.hs-tooltip-toggle > .fa.fa-trash{
  color: #ef4444 !important; /* Red 500 */
}

.hs-tooltip-toggle > .fa.fa-trash:hover{
  color: #dc2626 !important; /* Red 600 */
}

.hs-tooltip-toggle > .fa-solid.fa-arrow-rotate-left{
  color: #22c55e !important; /* Green 500 */
}

.hs-tooltip-toggle > .fa-solid.fa-arrow-rotate-left:hover{
  color: #16a34a !important; /* Green 600 */

}


.hs-tooltip-toggle > .fa.fa-eye{
  color: #008779 !important;
}

.hs-tooltip-toggle > .fa.fa-eye:hover{
  color: #003C3D!important; /* Green 600 */

}



.contenido-prev {
  word-wrap: break-word; /* Permite que las palabras se rompan automáticamente */
  max-width: auto; /* Establece el ancho máximo automáticamente */
  flex-wrap: wrap; /* Permite que el contenido se ajuste al contenedor */
}
