

/**
 * @layer tailwind-base, primeng, tailwind-utilities;
 * Esta línea se utiliza para definir los niveles de CSS. Indica que las siguientes reglas de CSS pertenecen a los niveles tailwind-base, primeng y tailwind-utilities.
 */

/**
 * @layer tailwind-base;
 * Esta línea se utiliza para definir el nivel tailwind-base. Indica que las siguientes reglas de CSS pertenecen al nivel tailwind-base.
 */

/**
 * @tailwind base;
 * Esta línea se utiliza para importar las reglas base de CSS desde el marco Tailwind CSS. Asegura que las reglas básicas para elementos como fuentes, colores y espaciado se apliquen de manera consistente a lo largo del proyecto.
 */

/**
 * @layer tailwind-utilities;
 * Esta línea se utiliza para definir el nivel tailwind-utilities. Indica que las siguientes reglas de CSS pertenecen al nivel tailwind-utilities.
 */

/**
 * @tailwind components;
 * Esta línea se utiliza para importar las reglas de estilo de componentes desde el marco Tailwind CSS. Asegura que las reglas de estilo para componentes específicos como botones, inputs y tarjetas se apliquen de manera consistente a lo largo del proyecto.
 */

/**
 * @tailwind utilities;
 * Esta línea se utiliza para importar las reglas de utilidad de CSS desde el marco Tailwind CSS. Asegura que las reglas de utilidad como flex, grid y margin se apliquen de manera consistente a lo largo del proyecto.
 */
@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}


/* Colores */
:root {
  --primary-color: 4, 61, 61;
  --secondary-color: 4, 132, 124;
  --guardar-color: 4, 61, 61;
  --editar-color: 4, 132, 124;
  --ver-color: 71, 176, 164;
  --cerrar-color: 229, 231, 235;
  --eliminar-color: 239, 68, 68;
  --reactivar-color: 34, 197, 94;
}


/*
Este archivo CSS se utiliza para aplicar estilos globales y importar otros archivos de estilos.
También incluye declaraciones personalizadas de @font-face para las fuentes 'texto' y 'titulo'.
*/
/* Declaración personalizada de @font-face para la fuente 'texto' */
@font-face {
  font-family: "texto";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Declaración personalizada de @font-face para la fuente 'texto' */
@font-face {
  font-family: "texto-medium";
  src: url("/assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Declaración personalizada de @font-face para la fuente 'titulo' */
@font-face {
  font-family: "titulo";
  src: url("/assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Declaración personalizada de @font-face para la fuente 'texto-tabla' */
@font-face {
  font-family: "texto-tabla";
  src: url("/assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Aplica la fuente 'titulo' a todos los elementos de encabezado (h1 a h6) */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "titulo", sans-serif !important;
}

/* Aplica la fuente 'texto' a todos los elementos excepto los encabezados (h1 a h6) */
*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  font-family: "texto", sans-serif;
}

/* Altura del html */
html {
  min-height: 100vh !important;
}


/*Body*/
body {
  min-height: 70vh;
}

/*Footer*/
footer {
  bottom: 0px;
  width: 100%;
}

.container-per {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 10px;
}

td > label .text-ellipsis {
  max-width: 500px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.hs-tooltip {
  cursor: help;
}

/* Requerimientos del equipo principal */
h1 {
  font-size: 2.25rem !important;
  line-height: 2.5rem !important;
}

h2 {
  font-size: 1.875rem !important;
  line-height: 2.25rem !important;
}

h3 {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

h4 {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}

h5 {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
}

h6 {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

.button-secondary,  .button-back, .button-reload  {
  background-color: rgba(var(--secondary-color),1) !important;
  border-radius: 10px !important ;
  color: #fff !important;
  transition: ease 0.3s !important;
  padding: 10px !important;
  font-family: "texto-medium", sans-serif !important;
}

.button-secondary:hover, .button-back:hover, .button-reload:hover  {
  background-color: rgba(var(--secondary-color),0.8) !important;
  transition: ease 0.3s !important;
  font-family: "texto-medium", sans-serif !important;
}

.button-save{
  background-color: rgba(var(--guardar-color),1) !important;
  border-radius: 10px !important ;
  color: #fff !important;
  transition: ease 0.3s !important;
  padding: 10px !important;
  font-family: "texto-medium", sans-serif !important;
}

.button-save:hover  {
  background-color: rgba(var(--guardar-color),0.8) !important;
  transition: ease 0.3s !important;
  font-family: "texto-medium", sans-serif !important;
}

.button-skeleton{
  background-color: rgba(var(--editar-color),1) !important;
  border-radius: 10px !important ;
  color: #fff !important;
  transition: ease 0.3s !important;
  padding: 10px !important;
  font-family: "texto-medium", sans-serif !important;
}

.button-skeleton:hover  {
  background-color: rgba(var(--editar-color),0.8) !important;
  transition: ease 0.3s !important;
  font-family: "texto-medium", sans-serif !important;
}

.button-update{
  background-color: rgba(var(--editar-color),1) !important;
  border-radius: 10px !important ;
  color: #fff !important;
  transition: ease 0.3s !important;
  padding: 10px !important;
  font-family: "texto-medium", sans-serif !important;
}

.button-update:hover  {
  background-color: rgba(var(--editar-color),0.8) !important;
  transition: ease 0.3s !important;
  font-family: "texto-medium", sans-serif !important;
}

.button-save::after {
  content: "Guardar" !important; /* Texto añadido */
  position: sticky !important; /* Posición absoluta */
}

.button-update::after {
  content: "Actualizar" !important; /* Texto añadido */
  position: sticky !important; /* Posición absoluta */
}

.button-back::after {
  content: "Volver" !important; /* Texto añadido */
  position: sticky !important; /* Posición absoluta */
}

.button-reload::after {
  content: " Recargar" !important; /* Texto añadido */
  position: sticky !important; /* Posición absoluta */
}

input[type="checkbox"] {
  color: #000 !important;
  background-color: #008779 !important;
  border-color: #E5E7EB !important;
}


.hs-tooltip-toggle > .fas.fa-edit{
  color: rgba(var(--editar-color),1) !important;
}

.hs-tooltip-toggle > .fas.fa-edit:hover{
  color: rgba(var(--editar-color),0.8) !important;
}
.hs-tooltip-toggle > .fa.fa-trash{
  color: rgba(var(--eliminar-color),1) !important;
}

.hs-tooltip-toggle > .fa.fa-trash:hover{
  color: rgba(var(--eliminar-color),0.8) !important;
}

.hs-tooltip-toggle > .fa-solid.fa-arrow-rotate-left{
  color: rgba(var(--reactivar-color),1) !important;
}

.hs-tooltip-toggle > .fa-solid.fa-arrow-rotate-left:hover{
  color: rgba(var(--reactivar-color),0.8) !important;

}
.hs-tooltip-toggle > .fa.fa-eye{
  color: rgba(var(--ver-color),1) !important;
}

.hs-tooltip-toggle > .fa.fa-eye:hover{
  color: rgba(var(--ver-color),0.8) !important;

}

.contenido-prev {
  max-width: 98vw;
  word-wrap: break-word; /* Permite que las palabras se rompan automáticamente */
  flex-wrap: wrap; /* Permite que el contenido se ajuste al contenedor */
}

tr > .p-element svg{
  color: white !important;
}

table{
  font-family: "texto-tabla", sans-serif !important;
}


/*Alertas*/
.swal2-toast > h2.swal2-title{
  font-size: 1em !important;
  line-height: 1em !important;
}


.table-satic :not(tr:first-child) > td{
  border: 1px solid #e5e7eb !important;
  border-radius: 0.5rem !important;

}


.pointer-events-cursor{
  cursor: pointer !important;
}

/* Define la clase contenido-lista */
.contenido-lista {
  list-style-type: disc; /* Aplica el estilo de viñeta (bullet) a las listas no ordenadas */
  padding-left: 20px; /* Añade un padding a la izquierda para alinear las viñetas */
}

/* Aplica el estilo de viñeta a todos los elementos <li> dentro de la lista con la clase contenido-lista */
.contenido-lista li {
  position: relative; /* Necesario para posicionar el contenido de la viñeta */
}

.contenido-link {
  text-decoration: underline;
  color: rgba(var(--secondary-color),1) !important;
}

.contenido-link:hover {
  text-decoration: underline;
  color: rgba(var(--secondary-color),0.8) !important;
}
