<app-form *ngIf="sharedService.loading$ | async; else content"></app-form>
<ng-template #content>
<div class="12/12 text-right my-5">
  <ol class="flex items-center whitespace-nowrap" *ngIf="!es_tema">
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-gray-500 hover:text-color-active focus:outline-none focus:text-color-active" routerLink="/puntos">
        Puntos
        <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m9 18 6-6-6-6"></path>
        </svg>
      </a>
    </li>
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-gray-500 hover:text-color-active focus:outline-none focus:text-color-active" routerLink="/details-punto/{{ encriptarId(this.id_punto) }}">
        Detalles punto
        <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m9 18 6-6-6-6"></path>
        </svg>
      </a>
    </li>
    <li class="inline-flex items-center text-sm font-semibold text-gray-800 truncate" aria-current="page">
      Modificar documento
    </li>
  </ol>
  <ol class="flex items-center whitespace-nowrap" *ngIf="es_tema">
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-gray-500 hover:text-color-active focus:outline-none focus:text-color-active"
        routerLink="/puntos">
        Puntos
        <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg"
          width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round">
          <path d="m9 18 6-6-6-6"></path>
        </svg>
      </a>
    </li>
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-gray-500 hover:text-color-active focus:outline-none focus:text-color-active"
        routerLink="/details-punto/{{encriptarId(id_punto)}}">
        Detalles punto
        <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg"
          width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round">
          <path d="m9 18 6-6-6-6"></path>
        </svg>
      </a>
    </li>
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-gray-500 hover:text-color-active focus:outline-none focus:text-color-active"
        routerLink="/administrar-subtemas/{{encriptarId(id_punto)}}/{{idTemaEncrypt}}">
        Administrar subtemas
        <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg"
          width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round">
          <path d="m9 18 6-6-6-6"></path>
        </svg>
      </a>
    </li>
    <li class="inline-flex items-center text-sm font-semibold text-gray-800 truncate" aria-current="page">
      Modificar documento

    </li>
  </ol>
</div>
<div class="bg-white p-8 border border-gray-200 rounded-lg shadow-lg max-w-2xl mx-auto my-10">
  <h3 class="my-2 text-left">Modificar Documento</h3>
  <hr class="w-full mb-2 border-hr-color">
  <form class="grid grid-cols-1 gap-y-6 gap-x-4" [formGroup]="FormAltaContenido" (ngSubmit)="updateContenido()">
    <!-- Input para el nombre interno del documento -->
    <div class="sm:col-span-2">
      <label for="nombreExterno" class="font-poppins">Nombre Externo del Documento</label>
      <div class="flex items-center border border-input-bord-color py-3 px-4 rounded-lg focus-within:border-input-focus-color focus-within:ring-input-focus-color"
      [ngClass]="{
        'border-validator-error focus:border-validator-error focus:ring-validator-error': FormAltaContenido.get('nombreExterno')?.invalid && (FormAltaContenido.get('nombreExterno')?.dirty || FormAltaContenido.get('nombreExterno')?.touched)
        }">
        <input type="text" id="nombreExterno" formControlName="nombreExterno"
          class=" flex-grow border-none focus:ring-0 focus:outline-none text-sm text-dark"
          placeholder="Nombre con el cual se mostrara para acceder">
        <div class="hs-tooltip [--trigger:hover] sm:[--placement:right] inline-block ml-2">
          <!-- lo del simbolo de interrogacion -->
          <i class="fa-solid fa-question text-gray-500"></i>
          <div class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible hidden opacity-0 transition-opacity absolute invisible z-10 max-w-xs w-full bg-white border border-gray-100 text-start rounded-xl shadow-md after:absolute after:top-0 after:-start-4 after:w-4 after:h-full" role="tooltip">
            <ul class="py-3 px-4 space-y-1">
              <li>
                <div class="inline-flex items-center gap-x-3 text-sm text-gray-800">
                  <p>Este campo te permite ingresar un nombre para el documento que será visible para acceder a él. Puedes proporcionar un nombre descriptivo que ayude a identificar el contenido del documento. Por ejemplo, podrías utilizar un nombre que refleje el tema o el propósito del documento. Asegúrate de elegir un nombre claro y significativo para facilitar su identificación y acceso por parte de los usuarios.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
        <div *ngIf="FormAltaContenido.get('nombreExterno')?.invalid && (FormAltaContenido.get('nombreExterno')?.dirty || FormAltaContenido.get('nombreExterno')?.touched)">
          <div *ngIf="FormAltaContenido.get('nombreExterno')?.errors?.['required']" class="text-sm text-validator-error mt-1">Este campo es requerido.</div>
          <div *ngIf="FormAltaContenido.get('nombreExterno')?.errors?.['minlength']" class="text-sm text-validator-error mt-1">El campo debe tener al menos 5 caracteres.</div>
          <div *ngIf="FormAltaContenido.get('nombreExterno')?.errors?.['maxlength']" class="text-sm text-validator-error mt-1">El campo no puede exceder los 100 caracteres.</div>
          <div *ngIf="FormAltaContenido.get('nombreExterno')?.errors?.['textoInvalido']" class="text-sm text-validator-error mt-1" title="No intentes ingresar caracteres especiales.">El campo no puede contener caracteres no permitidos.</div>
        </div>
    </div>

    <!-- Input para el nombre interno del documento -->
    <div class="sm:col-span-2">
      <label for="nombreInterno" class="font-poppins">Nombre Interno del Documento</label>
      <div class="flex items-center border border-input-bord-color py-3 px-4 rounded-lg focus-within:border-input-focus-color focus-within:ring-input-focus-color"
      [ngClass]="{
        'border-validator-error focus:border-validator-error focus:ring-validator-error': FormAltaContenido.get('nombreInterno')?.invalid && (FormAltaContenido.get('nombreInterno')?.dirty || FormAltaContenido.get('nombreInterno')?.touched)
        }">
        <input type="text" id="nombreInterno" formControlName="nombreInterno"
          class="pdf flex-grow border-none focus:ring-0 focus:outline-none text-sm "
          placeholder="Nombre de descarga del documento">
        <div class="hs-tooltip [--trigger:hover] sm:[--placement:right] inline-block ml-2">
          <!-- lo del simbolo de interrogacion -->
          <i class="fa-solid fa-question text-gray-500"></i>
          <div class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible hidden opacity-0 transition-opacity absolute invisible z-10 max-w-xs w-full bg-white border border-gray-100 text-start rounded-xl shadow-md after:absolute after:top-0 after:-start-4 after:w-4 after:h-full" role="tooltip">
            <ul class="py-3 px-4 space-y-1">
              <li>
                <div class="inline-flex items-center gap-x-3 text-sm text-gray-800">
                  <p>Este campo te permite ingresar un nombre interno para el documento. Este nombre se utilizará para identificar el documento dentro del sistema, pero no será visible para los usuarios finales. Puedes utilizar un nombre descriptivo que refleje el contenido o el propósito del documento. Asegúrate de elegir un nombre claro y significativo para facilitar su gestión y organización dentro del sistema.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
        <div *ngIf="FormAltaContenido.get('nombreInterno')?.invalid && (FormAltaContenido.get('nombreInterno')?.dirty || FormAltaContenido.get('nombreInterno')?.touched)">
          <div *ngIf="FormAltaContenido.get('nombreInterno')?.errors?.['required']" class="text-sm text-validator-error mt-1">Este campo es requerido.</div>
          <div *ngIf="FormAltaContenido.get('nombreInterno')?.errors?.['minlength']" class="text-sm text-validator-error mt-1">El campo debe tener al menos 5 caracteres.</div>
          <div *ngIf="FormAltaContenido.get('nombreInterno')?.errors?.['maxlength']" class="text-sm text-validator-error mt-1">El campo no puede exceder los 100 caracteres.</div>
          <div *ngIf="FormAltaContenido.get('nombreInterno')?.errors?.['textoInvalido']" class="text-sm text-validator-error mt-1" title="No intentes ingresar caracteres especiales.">El campo no puede contener caracteres no permitidos.</div>
        </div>
    </div>

<!-- Descripción -->
<div class="sm:col-span-2">
  <label for="descripcion" class="font-poppins">Descripción</label>
  <div class="flex items-center border border-input-bord-color py-3 px-4 rounded-lg focus-within:border-input-focus-color focus-within:ring-input-focus-color"
  [ngClass]="{
    'border-validator-error focus:border-validator-error focus:ring-validator-error': FormAltaContenido.get('descripcion')?.invalid && (FormAltaContenido.get('descripcion')?.dirty || FormAltaContenido.get('descripcion')?.touched)
    }">
    <textarea id="descripcion" formControlName="descripcion"
      class=" flex-grow border-none focus:ring-0 focus:outline-none text-sm "
      rows="3" placeholder="Descripción del documento"></textarea>
    <div class="hs-tooltip [--trigger:hover] sm:[--placement:right] inline-block ml-2">
      <i class="fa-solid fa-question text-gray-500"></i>
      <div class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible hidden opacity-0 transition-opacity absolute invisible z-10 max-w-xs w-full bg-white border border-gray-100 text-start rounded-xl shadow-md after:absolute after:top-0 after:-start-4 after:w-4 after:h-full" role="tooltip">
        <ul class="py-3 px-4 space-y-1">
          <li>
            <div class="inline-flex items-center gap-x-3 text-sm text-gray-800">
              <p>Ingrese una descripción detallada del documento.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="FormAltaContenido.get('descripcion')?.invalid && (FormAltaContenido.get('descripcion')?.dirty || FormAltaContenido.get('descripcion')?.touched)">
    <div *ngIf="FormAltaContenido.get('descripcion')?.errors?.['required']" class="text-sm text-validator-error mt-1">Este campo es requerido.</div>
    <div *ngIf="FormAltaContenido.get('descripcion')?.errors?.['minlength']" class="text-sm text-validator-error mt-1">El campo debe tener al menos 5 caracteres.</div>
    <div *ngIf="FormAltaContenido.get('descripcion')?.errors?.['maxlength']" class="text-sm text-validator-error mt-1">El campo no puede exceder los 600 caracteres.</div>
    <div *ngIf="FormAltaContenido.get('descripcion')?.errors?.['textoInvalido']" class="text-sm text-validator-error mt-1" title="No intentes ingresar caracteres especiales.">El campo no puede contener caracteres no permitidos.</div>
  </div>
</div>

<!-- Input para el PDF -->
<div class="sm:col-span-2">
  <label for="pdf" class="font-poppins flex items-center">
    PDF
    <div class="hs-tooltip [--trigger:hover] sm:[--placement:right] inline-block ml-2"
    [ngClass]="{
      'border-validator-error focus:border-validator-error focus:ring-validator-error': FormAltaContenido.get('archivo')?.invalid && (FormAltaContenido.get('archivo')?.dirty || FormAltaContenido.get('archivo')?.touched)
      }">
      <i class="fa-solid fa-question text-gray-500"></i>
      <div
        class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible hidden opacity-0 transition-opacity absolute invisible z-10 max-w-xs w-full bg-white border border-gray-100 text-start rounded-xl shadow-md after:absolute after:top-0 after:-start-4 after:w-4 after:h-full"
        role="tooltip">
        <ul class="py-3 px-4 space-y-1">
          <li>
            <div class="inline-flex items-center gap-x-3 text-sm text-gray-800">
              <p>Elige un archivo PDF para subir.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </label>
  <div class="flex items-center mt-2">
    <label class="flex-grow">
      <span class="sr-only">Elige un archivo PDF</span>
      <input type="file" id="archivo" formControlName="archivo" (change)="handleFileInputChange($event)" accept=".pdf"
        class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-secondary-color file:text-white hover:file:bg-secondary-color-90">
    </label>
  </div>
  <div *ngIf="FormAltaContenido.get('archivo')?.invalid && (FormAltaContenido.get('archivo')?.dirty || FormAltaContenido.get('archivo')?.touched)">
    <div *ngIf="FormAltaContenido.get('archivo')?.errors?.['pattern']" class="text-sm text-validator-error mt-1">El archivo seleccionado no es un pdf valido.</div>
  </div>
</div>

<!-- Select para seleccionar el trimestre -->
<div class="sm:col-span-2">
  <label for="trimestre" class="font-poppins flex items-center">
    Trimestre
    <div class="hs-tooltip [--trigger:hover] sm:[--placement:right] inline-block ml-2">
      <i class="fa-solid fa-question text-gray-500"></i>
      <div class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible hidden opacity-0 transition-opacity absolute invisible z-10 max-w-xs w-full bg-white border border-gray-100 text-start rounded-xl shadow-md after:absolute after:top-0 after:-start-4 after:w-4 after:h-full" role="tooltip">
        <ul class="py-3 px-4 space-y-1">
          <li>
            <div class="inline-flex items-center gap-x-3 text-sm text-gray-800">
              <p>Seleccione el trimestre correspondiente.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </label>
  <select id="trimestre" formControlName="id_trimestre"
  class="sm:p-5 p-4 pe-9 block w-full border-input-bord-color rounded-lg text-sm focus:border-input-focus-color focus:ring-input-focus-color disabled:opacity-50 disabled:pointer-events-none "
  [ngClass]="{
    'border-validator-error focus:border-validator-error focus:ring-validator-error': FormAltaContenido.get('id_trimestre')?.invalid && (FormAltaContenido.get('id_trimestre')?.dirty || FormAltaContenido.get('id_trimestre')?.touched)
    }">
    <option value="" selected>Selecciona un ejercicio</option>
    <option *ngFor="let trimestre of ListActiveTrimestres" [value]="trimestre.id_trimestre">
        {{ trimestre.trimestre }} {{ trimestre.ejercicio }}
      </option>
  </select>
  <div *ngIf="FormAltaContenido.get('id_trimestre')?.invalid && (FormAltaContenido.get('id_trimestre')?.dirty || FormAltaContenido.get('id_trimestre')?.touched)">
    <div *ngIf="FormAltaContenido.get('id_trimestre')?.errors?.['required']" class="text-sm text-validator-error mt-1">Este campo es requerido.</div>
  </div>
</div>

    <!-- Botón de enviar -->
    <div class="sm:col-span-2 flex justify-end">
      <button type="submit"
        class="items-center inline-flex justify-center py-2 px-6 border border-transparent shadow-sm text-sm font-medium rounded-md button-update">
        <i class="fas fa-save mx-1"></i>
      </button>
    </div>
  </form>
</div>
</ng-template>
<app-loading-spinner
  [fillPercentage]="porcentajeEnvio"
  [text]="'UTC'"
  [isVisible]="mostrarSpinner"
  [updateText]="mensaje">
</app-loading-spinner>
